
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="icon" type="image/png" href="./static/images/icon.png"/>
</head>
<!-- Link to CSS  -->
<link href="{{url_for('static', filename= 'style.css') }}", rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<body>
    <!-- Login -->
    <section class="login">
        <div class="login_box">
            <!-- Log in information -->
            <form id="login" class="input-group" method="post" action="">
                <h1>Login</h1>
                <center>
                    <table>
                        <tr>
                            <td><label for="email"> Email Address</label></td>
                            <td><input type="email" class="from-control" id="email" name="email" placeholder="Enter email"></td>
                        </tr>
                        <tr><br><br></tr>
                        <tr>
                            <td><label for="password">Password</label></td>
                            <td><input type="password" class="from-control" id="password" name="password" placeholder="Enter password"></td>
                        </tr>
                    </table>
                </center>
                <br><br>
                <button type="submit" class="btn btn-primary">Login</button>
                <br><br>
                <a href="{{url_for('register')}}" class="btn">Don't have an account? Sign up</a>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <section class="footer">
        <div class="footer-box">
            <h2>Coffee Shop</h2>
            <div class="social">
                <a href="https://www.facebook.com/profile.php?id=100011163738457"><i class='bx bxl-facebook' ></i></a>
                <a href="/"><i class='bx bxl-twitter' ></i></a>
                <a href="/"><i class='bx bxl-instagram' ></i></a>
                <a href="/"><i class='bx bxl-tiktok' ></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Support</h3>
            <li><a href="/">Product</a></li>
            <li><a href="/">Help & Support</a></li>
            <li><a href="/">Return policy</a></li>
            <li><a href="/">Terms Of use</a></li>
        </div>
        <div class="footer-box">
            <h3>view Guids</h3>
            <li><a href="/">Features</a></li>
            <li><a href="/">Careers</a></li>
            <li><a href="/">Blog Posts</a></li>
            <li><a href="/">Our Branches</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map'></i>Moria 105, Haifa Israel</span>
                <span><i class='bx bxs-phone'></i>+972-50-5292383</span>
                <span><i class='bx bxs-envelope'></i>coffee@shop.co.il</span>
            </div>
        </div>
    </section>

    <!-- Copyright -->
    <section class="copyright">
        <p>&#169; Shaden All Right Reserved</p>
    </section>
</body>
</html>