<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{product_specific.product_name}}</title>
    <link rel="icon" type="image/png" href="../static/images/icon.png"/>
</head>
<!-- Link to CSS  -->
<link href="{{url_for('static', filename= 'style.css') }}", rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<body>
    <!--Navbar-->
    <header>
        <a href="/home" class="logo">
            <img src="./static/images/logo.png" alt="" width="200px" height="300px">
        </a>

        <!-- Links -->
        <ul class="navbar">
            <li><a href="/home">HOME</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about_us">Favorite</a></li>
            <li><a href="/customers">Orders</a></li>
        </ul>
        <!-- Icon -->
        <div class="header-icon">
            <a href="/cartlist_view"><i class="bx bx-cart-alt"></i></a>
            <a href="/logout"><i class='bx bx-log-out-circle'></i></a>
        </div>
    </header>

    <!--Product information-->
    <section class="product-info" id="product-info">
        <div class="info-text">
            <h1>{{product_specific.product_name}}</h1>
            <p>{{product_specific.product_description}}</p>
            <span>The Price: {{product_specific.product_price}}</span><br><br>
            <a href="/products" class="btn">Add to cart</a>
            <a href="#nothing" class="decrement" onclick="decrementValue({{ product_specific.product_id }})">-</a>
            <input type="number" id="volume-{{product_specific.product_id }}" name="volume" min="1" max="{{product_specific.product_quantity}}" value="1">
            <a href="#nothing" class="increment" onclick="incrementValue({{ product_specific.product_id }})">+</a>
        </div>
        <div class="info-img">
            <img src="{{url_for('display_image',filename=product_specific.filename)}}" alt="">
        </div>
        <script>
            function incrementValue(productId) {
              const input = document.getElementById(`volume-${productId}`);
              const newValue = parseInt(input.value) + 1;
              if (newValue <= parseInt(input.getAttribute("max"))) {
                input.value = newValue;
              }
            }

            function decrementValue(productId) {
              const input = document.getElementById(`volume-${productId}`);
              const newValue = parseInt(input.value) - 1;
              if (newValue >= parseInt(input.getAttribute("min"))) {
                input.value = newValue;
              }
            }
        </script>
    </section>

    <!-- Add Review -->
    <section class="add_review">
        <form method="post" action="/add_review">
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
            <div>
                <label>Name</label>
                <input type="text" name="reviewer_name" required>
                <label>Review</label>
                <textarea type="text" name="review_text"></textarea>
                <input type="hidden" name="product_id" value="{{product_specific.product_id}}">
                <button type="submit">ADD</button>
            </div>
        </form>
    </section>

    <!-- Customers -->
    <section class="customers" id="customers">
        <div class="heading">
            <h2>Our customer's reviews</h2>
        </div>
        <div class="customer-container">
            {%for review in reviews_specific%}
                <div class="box">
                    <div class="stars">
                        {% for rate in range(1, review.review_rate + 1)%}
                            <i class='bx bxs-star'></i>
                        {%endfor%}
                    </div>
                    <p>{{review.review_text}}</p>
                    <h2>{{review.reviewer_name}}</h2>
                </div>
            {%endfor%}
        </div>
    </section>

    <!-- Footer -->
    <section class="footer">
        <div class="footer-box">
            <h2>Coffee Shop</h2>
            <div class="social">
                <a href="/"><i class='bx bxl-facebook' ></i></a>
                <a href="/"><i class='bx bxl-twitter' ></i></a>
                <a href="/"><i class='bx bxl-instagram' ></i></a>
                <a href="/"><i class='bx bxl-tiktok' ></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Support</h3>
            <li><a href="/">Product</a></li>
            <li><a href="/">Help & Support</a></li>
            <li><a href="/">Return policy</a></li>
            <li><a href="/">Terms Of use</a></li>
        </div>
        <div class="footer-box">
            <h3>view Guids</h3>
            <li><a href="/">Features</a></li>
            <li><a href="/">Careers</a></li>
            <li><a href="/">Blog Posts</a></li>
            <li><a href="/">Our Branches</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map'></i>Moria 105, Haifa Israel</span>
                <span><i class='bx bxs-phone'></i>+972-50-5292383</span>
                <span><i class='bx bxs-envelope'></i>coffee@shop.co.il</span>
            </div>
        </div>
    </section>

    <!-- Copyright -->
    <section class="copyright">
        <p>&#169; Shaden All Right Reserved</p>
    </section>
</body>
</html>