<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="icon" type="image/png" href="./static/images/icon.png"/>
</head>
<!-- Link to CSS  -->
<link href="{{url_for('static', filename= 'style.css')}}", rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<body>
    <!--Navbar-->
    <header>
        <a href="/home" class="logo">
            <img src="././static/images/logo.png" alt="" width="200px" height="300px">
        </a>

        <!-- Links -->
        <ul class="navbar">
            <li><a href="/home">HOME</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about_us">Favorite</a></li>
            <li><a href="/customers">Orders</a></li>
        </ul>
        <!-- Icon -->
        <div class="header-icon">
            <a href="/cartlist_view"><i class="bx bx-cart-alt"></i></a>
            <a href="/logout"><i class='bx bx-log-out-circle'></i></a>
        </div>
    </header>

    <br><br><br>

    <!-- Products -->
    <section class="products" id="products">
        <div class="heading">
            <h2>Our popular products</h2>
        </div>
        <!-- Container -->
        <div class="product-container">
            {%for product in product_data%}
            <div class="box">
                <a href="{{url_for('product_info', product_id=product.product_id)}}">
                    <img src="{{url_for('display_image',filename=product.filename)}}" alt="">
                </a>
                <h3>{{product.product_name}}</h3>
                <div class="content">
                    <span>$ {{product.product_price}}</span>
                    <a href="/cart/{{product.product_id}}" class="btn">Add to cart</a>
                </div>
                <center>
                <div clas="stepper-input">
                    <a href="#nothing" class="decrement" onclick="decrementValue({{ product.product_id }})">-</a>
                    <input type="number" id="volume-{{ product.product_id }}" name="volume" min="1" max="{{product.product_quantity}}" value="1">
                    <a href="#nothing" class="increment" onclick="incrementValue({{ product.product_id }})">+</a>
                </div>
                </center>
            </div>
            {% endfor %}
        </div>
        <br><br>
        <div>
            {% if current_user.user_role == "Admin" or current_user.user_role == "Employee" %}
            <a href="{{url_for('add_data')}}" class="btn">Add new product</a>
            {% endif %}
        </div>
        <script>
            function incrementValue(productId) {
              const input = document.getElementById(`volume-${productId}`);
              const newValue = parseInt(input.value) + 1;
              if (newValue <= parseInt(input.getAttribute("max"))) {
                input.value = newValue;
              }
            }

            function decrementValue(productId) {
              const input = document.getElementById(`volume-${productId}`);
              const newValue = parseInt(input.value) - 1;
              if (newValue >= parseInt(input.getAttribute("min"))) {
                input.value = newValue;
              }
            }
        </script>
    </section>

    <!-- Footer -->
    <section class="footer">
        <div class="footer-box">
            <h2>Coffee Shop</h2>
            <div class="social">
                <a href="https://www.facebook.com/profile.php?id=100011163738457"><i class='bx bxl-facebook' ></i></a>
                <a href="/"><i class='bx bxl-twitter' ></i></a>
                <a href="/"><i class='bx bxl-instagram' ></i></a>
                <a href="/"><i class='bx bxl-tiktok' ></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Support</h3>
            <li><a href="/">Product</a></li>
            <li><a href="/">Help & Support</a></li>
            <li><a href="/">Return policy</a></li>
            <li><a href="/">Terms Of use</a></li>
        </div>
        <div class="footer-box">
            <h3>view Guids</h3>
            <li><a href="/">Features</a></li>
            <li><a href="/">Careers</a></li>
            <li><a href="/">Blog Posts</a></li>
            <li><a href="/">Our Branches</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map'></i>Moria 105, Haifa Israel</span>
                <span><i class='bx bxs-phone'></i>+972-50-5292383</span>
                <span><i class='bx bxs-envelope'></i>coffee@shop.co.il</span>
            </div>
        </div>
    </section>

    <!-- Copyright -->
    <section class="copyright">
        <p>&#169; Shaden All Right Reserved</p>
    </section>
</body>
</html>